<svg height="200" width="200" style="border: 1px solid black;">
    <circle 
        [attr.cx]="(editableSvgState | async).xCoordinate" 
        [attr.cy]="(editableSvgState | async).yCoordinate" 
        [attr.r]="radius" 
        stroke="black" 
        stroke-width="0" 
        fill="red" 
    />
    Sorry, your browser does not support inline SVG.  
</svg>
<div class="btn-group-vertical">
    <div class="btn-group">
        <button type="button" class="btn btn-outline-primary">&#8662;</button>
        <button type="button" class="btn btn-outline-primary">&uarr;</button>
        <button type="button" class="btn btn-outline-primary">&#8663;</button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-outline-primary" (click)="moveLeft()">&larr;</button>
        <button type="button" class="btn btn-outline-primary">o</button>
        <button type="button" class="btn btn-outline-primary">&rarr;</button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-outline-primary">&#8665;</button>
        <button type="button" class="btn btn-outline-primary">&darr;</button>
        <button type="button" class="btn btn-outline-primary">&#8664;</button>
    </div>
</div>